23 -06-2025 date pyspark

In [ ]:
# importing
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
# start spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark_1').getOrCreate()

In [ ]:
# read the dataset
df = spark.read.csv('/content/vaishnavi pyspark file short.csv')

In [ ]:
df.show()

+------------+---+-----------+------+
|         _c0|_c1|        _c2|   _c3|
+------------+---+-----------+------+
|        name|age|  location |marks |
| Rohan Mehta| 45|     delhi |    52|
| Neha Sharma| 12|    mumbai |    16|
| Arjun Yadav| 15|      pune |    23|
| Priya Verma| 42|    gujrat |    99|
|   Sneha Roy| 25|     patna |    25|
|Rahul Khanna| 32|     delhi |    74|
| Rohan Mehta| 24|east delhi |    15|
|   Sneha Roy| 26|    mumbai |    31|
|Tanya Bhatia| 27|     panjab|    78|
| Neha Sharma| 29|  hariyana |    80|
|  Vikas Jain| 30|     delhi |    74|
|Rahul Khanna| 23|    mumbai |    47|
+------------+---+-----------+------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')  # optional step

In [ ]:
df= spark.read.option('header','true').csv('/content/vaishnavi pyspark file short.csv')

In [ ]:
df.show()

+------------+---+-----------+------+
|        name|age|  location |marks |
+------------+---+-----------+------+
| Rohan Mehta| 45|     delhi |    52|
| Neha Sharma| 12|    mumbai |    16|
| Arjun Yadav| 15|      pune |    23|
| Priya Verma| 42|    gujrat |    99|
|   Sneha Roy| 25|     patna |    25|
|Rahul Khanna| 32|     delhi |    74|
| Rohan Mehta| 24|east delhi |    15|
|   Sneha Roy| 26|    mumbai |    31|
|Tanya Bhatia| 27|     panjab|    78|
| Neha Sharma| 29|  hariyana |    80|
|  Vikas Jain| 30|     delhi |    74|
|Rahul Khanna| 23|    mumbai |    47|
+------------+---+-----------+------+

In [ ]:
# check the dtypes
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- location : string (nullable = true)
 |-- marks : string (nullable = true)

In [ ]:
df= spark.read.option('header','true').csv('/content/vaishnavi pyspark file short.csv',inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- location : string (nullable = true)
 |-- marks : integer (nullable = true)

In [ ]:
# check the summary
df.describe().show()

+-------+-----------+-----------------+---------+------------------+
|summary|       name|              age|location |            marks |
+-------+-----------+-----------------+---------+------------------+
|  count|         12|               12|       12|                12|
|   mean|       NULL|             27.5|     NULL|51.166666666666664|
| stddev|       NULL|9.453234174801572|     NULL|29.123040966758868|
|    min|Arjun Yadav|               12|   delhi |                15|
|    max| Vikas Jain|               45|    pune |                99|
+-------+-----------+-----------------+---------+------------------+

In [ ]:
# or
df.summary().show()

+-------+-----------+-----------------+---------+------------------+
|summary|       name|              age|location |            marks |
+-------+-----------+-----------------+---------+------------------+
|  count|         12|               12|       12|                12|
|   mean|       NULL|             27.5|     NULL|51.166666666666664|
| stddev|       NULL|9.453234174801572|     NULL|29.123040966758868|
|    min|Arjun Yadav|               12|   delhi |                15|
|    25%|       NULL|               23|     NULL|                23|
|    50%|       NULL|               26|     NULL|                47|
|    75%|       NULL|               30|     NULL|                74|
|    max| Vikas Jain|               45|    pune |                99|
+-------+-----------+-----------------+---------+------------------+